.cantidadProd{
  padding-left: 110px;
  font-size: 30px;
  color: white;
}
.card-header{
  background-color: #abadac;
  color: rgb(12, 14, 73);
}
.card-body{
  padding-left: 54px;
}
.card-footer {
  padding-left: 24px;
}